.reveal section img {
  border: 0;
  background: none;
}

.reveal pre code {
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FFF;
}